:root {
  --background-color: #001F3F;
 /* Changed to light gray */
  --header-color: #FFD700;
  --input-background-color: white;
  --input-text-color: black;
  --button-background-color: #006699;
  --button-hover-background-color: #005580;
  --list-background-color: #005580;
  --button-up-down-background-color: #003F5F;
  --button-up-down-hover-background-color: #002F4F;
  --button-delete-background-color: #003F5F ;
  --button-delete-hover-background-color: #002F4F;
  --text-color: white;
  --button-border-radius: 4px;
  --button-padding: 10px 20px;
  --button-font-size: 1em;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  height: auto;
}

.main-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.product-list {
  flex: 2;
  margin-right: 20px;
}
.warenkorb {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 90px; /* Adjust margin-top to create space between the product list and warenkorb */
  background-color: var(--container-background-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: solid 2px rgb(70, 64, 64);
}

.container, .container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
}

.produktitem, .waren-item {
  border: solid 2px rgb(44, 42, 42);
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(79, 94, 128);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* Ensure each product item occupies the same height */
}

header h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--header-color);
}

.input-field {
  flex: 1;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}

.add-button, .up-button, .down-button, .delete-button, .cart-button {
  background-color: var(--button-background-color);
  border: none;
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  cursor: pointer;
  border-radius: var(--button-border-radius);
  color: var(--text-color);
  margin: 5px;
}

.add-button:hover, .up-button:hover, .down-button:hover, .cart-button:hover {
  background-color: var(--button-hover-background-color);
}

.delete-button {
  background-color: var(--button-delete-background-color);
}

.delete-button:hover {
  background-color: var(--button-delete-hover-background-color);
}

.product-actions, .waren-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: auto; /* Pushes the actions to the bottom of the product item */

.product-image, .waren-image {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}
